* {
	margin: 0;
	padding: 0;
}

html {
	font-family: Helvetica, Arial, sans-serif;
}

body {
	background: linear-gradient(#ff7600, #ff6000);
	color: #ddd;
	text-shadow: 2px 2px 8px #000;
}

.main_container {
	min-height: 100vh;

}

h1 {
	text-align: center;
	font-size: 60px;
	margin: 20px auto;
}

.important {
	text-align: center;
	padding: 5px;
	margin: 0 0 35px 0;
}

.important__title {
	font-size: 28px;
}

.container {
	margin: 30px 5%;
	padding: 10px;
}

.cover {
	height: 400px;
	width: auto;
	display: block;
	margin: 10px auto;
	border: 3px solid #fff;
	border-radius: 16%;
}

.description  {
	text-align: center;
	margin: 15px auto;
	padding: 10px;
	width: 40%;
}

.recipes {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 64px 0;
}

.recipes__item {
	border: 3px dashed #fff;
	border-radius: 20%;
}

h2 {
	font-size: 36px;
}

ul {
	margin: 10px;
	list-style: none;
}

li {
	padding: 10px;
}

a {
	font-size: 18px;
	color: #aaa;
	text-decoration: none;
}

footer {
	background: #666;
	padding: 20px;
}

.footer_title {
	font-size: 32px;
	margin-left: 16px;
}

.footer_list {
	list-style: none;
}